@font-face {
  font-family: 'Redacted Script';
  src: url('../fonts/RedactedScript-Light.ttf') format('truetype');
}

.myplaceholder {
    height:33.33vh;
    background:#eee;
}

.navbar-brand img {
    height:70px
}

.container-lg, .mt-3{
    max-width: 99.2%;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -20px;
}

.rowsection {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo {
  margin: 0 auto;
  padding-top: 32px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.info {
    max-width: 400px;
    margin: auto;
    padding: 25px 15px;
}

.info, .productsheading > * {
    text-align: center;
}

.section1-link > button {
  margin: 0 auto;
  display: block;
  color: white;
  border: solid 1px white;
}

.productsheading {
    background-color: floralwhite;
    padding: 25px;
    margin: auto;
    max-width: 1,000px;
}

.contactparagraph {
    font-size: 40px;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.section1 {
    background-color: #F1DCDC;
    padding: 15px;
} 

.section1 > div{
    padding: 10px;
    align-content: center;
    color: black;
    margin: auto;
}

.section2 {
    background-color: floralwhite;
    padding: 15px;
} 

.section2 > div{
    padding: 10px;
    align-content: center;
    color: black;
    margin: auto;
}

.section3 {
    background-color: #BD9D9D;
    padding: 15px;
} 

.section3 > div{
    padding: 10px;
    align-content: center;
    color: black;
    margin: auto;
}

* {font-family: 'Noto Serif', serif;}
p{font-weight: 300}
h1, h2, h3 {font-family: 'Peralta', serif;}